{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--team start-->
    <div class="row team py-2">
      <p class="text-center fs-3">Our<b class="text-mycolor1">Team </b></p>
    <div class="col-sm-12 mx-auto">
      <div class="row py-2">
        <!--div first start-->
        <div class="col-sm-4">
          <div class="card mx-auto w-75" >
  <img src="{% static 'images/my picture.jpg' %}" class="card-img-top img-fluid imgteam " alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Er. Puja</h5>
    <p class="card-text text-center">Python Developer</p>
    <p>

      <i class="fa-brands fa-instagram ic ms-5"></i> 
                   <i class="fa-brands fa-facebook ic"></i> 
                   <i class="fa-brands fa-whatsapp ic"></i>
                   <i class="fa-brands fa-linkedin ic"></i>
                  
    </p>
   
  </div>
</div>
        </div>
        <!--div first end-->
        <!--div first start-->
        <div class="col-sm-4">
          <div class="card mx-auto w-75" >
  <img src="{% static 'images/ashu.jpg' %}" class="card-img-top img-fluid imgteam " alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Er.Astha Gautam</h5>
    <p class="card-text text-center">Python Developer</p>
    <p>
      <i class="fa-brands fa-instagram ic ms-5"></i> 
                   <i class="fa-brands fa-facebook ic"></i> 
                   <i class="fa-brands fa-whatsapp ic"></i>
                   <i class="fa-brands fa-linkedin ic"></i>
                   
    </p>
   
  </div>
</div>
        </div>
        <!--div first end-->
        <!--div first start-->
        <div class="col-sm-4">
          <div class="card mx-auto w-75" >
  <img src="{% static 'images/sirji.jpg' %}" class="card-img-top img-fluid imgteam " alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Er. Ak.Gupta </h5>
    <p class="card-text text-center">Python Developer</p>
    <p>
      <i class="fa-brands fa-instagram ic ms-5"></i> 
                   <i class="fa-brands fa-facebook ic"></i> 
                   <i class="fa-brands fa-whatsapp ic"></i>
                   <i class="fa-brands fa-linkedin ic"></i>
                  
    </p>
   
  </div>
</div>
        </div>
        <!--div first end-->
      </div>
    </div>
    </div>
<!--team end-->

{% endblock %}
